
body {
    background-color: #e9ecef !important;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@keyframes ntl-spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid #1cbe9a;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
}

.ntl-spinner:before {
    content: '';
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid #1cbe9a;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
}

table.dataTable thead .sorting {
    background-image: url("https://cdn.datatables.net/1.11.1/images/sort_both.png") !important;
}

table.dataTable thead .sorting_desc {
    background-image: url("https://cdn.datatables.net/1.11.1/images/sort_desc.png") !important;
}

table.dataTable thead .sorting_asc {
    background-image: url("https://cdn.datatables.net/1.11.1/images/sort_asc.png") !important;
}


.breadcrumb {
    background-color: #e9ecef !important;
}

table.ttable thead .ntl-filter {
    background: url(./filter_ico.png) no-repeat right;
}


.dataTables_wrapper .dataTables_filter input {
    background-color: #fefefe !important;
}

.dataTables_wrapper .dataTables_length select {
    background-color: #fefefe !important;
}

.toolbar-button {
    background-color: #fefefe;
    border: 1px #aaa solid;
    padding: 5px 4.1rem !important;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

.dropdown-menu {
    min-width: 147px;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #1cbeaf !important;
}

.toolbar-dropdown {
    float: left;
}

.toolbar-menu {
    margin: 0;
}

table.dataTable.no-footer {
    border-bottom: none !important;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: none !important;
}

.custom-toolbar {

}

.filter-ico {
    margin-left: 1.1rem;
    color: #337ab7;
    /* width: 92%; */
    font-size: 1.9rem;
}

.filter-ico:hover {
    margin-left: 1.1rem;
    color: #1cbeaf;
    /* width: 92%; */
    font-size: 1.9rem;
}

.extra-col {
    margin: 1.76rem 0;
    display: none;
    max-width: 82.13%;
    border: #1cbe9a 1px solid;
    padding: 1.8rem;
    border-radius: 10px;
    float: left;
}

.hide-col {
    background: #1cbe9a;
    border: 1px solid #1cbe9a;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}

hide-col:focus {
    background: #1cbe9a;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #1cbe9a;
    -moz-box-shadow: inset 0px 0px 5px #1cbe9a;
    box-shadow: inset 0px 0px 5px #1cbe9a;
}

.filter-col {
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}

li > a {
    color: #333 !important;
    text-decoration: none !important;
}

.filter-col:hover {
    background: #1cbeaf;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #1cbe9a;
    -moz-box-shadow: inset 0px 0px 5px #1cbe9a;
    box-shadow: inset 0px 0px 5px #1cbe9a;
    color: #333;
    text-decoration: none;
}

.filter-col:focus {
    background: #1cbeaf;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #1cbe9a;
    -moz-box-shadow: inset 0px 0px 5px #1cbe9a;
    box-shadow: inset 0px 0px 5px #1cbe9a;
    color: #333;
    text-decoration: none;
}

.filter-col-highlight {
    background: #1cbe9a;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #1cbe9a;
    -moz-box-shadow: inset 0px 0px 5px #1cbe9a;
    box-shadow: inset 0px 0px 5px #1cbe9a;
    color: #333;
    text-decoration: none;
}

.filter-col-u {
    list-style-type: none;
    padding: 0;
    max-height: 271px;
}

table.dataTable tbody tr.selected {
    background-color: #1cbe9a;
}

.ttable .selected td {
    background: none;
}

table.ttable tr.selected:hover td {
    background: #1cbeac;
}

.ttable tr:hover td {
    background: none;
}

.hide-menu {
    border: #1cbe9a 1px solid !important;
}

.hide-menu > li:hover {
    border: #1cbeaf 1px solid !important;
}

.col-filter {
    margin-top: 1.2rem;
}

.column-filter {
    width: max-content;
    z-index: 100000;
    position: absolute;
    background-color: #fefefe;
    display: none;
    border: #1cbe9a 1px solid;
    padding: 1.3rem;
    border-radius: 10px;
    height: auto;
}

.row-highlight-o {
    border-top: #1cbe9a 1px solid !important;
    border-bottom: #1cbe9a 1px solid !important;
    border-right: #1cbe9a 1px solid !important;
    border-left: #1cbe9a 1px solid !important;
}

.row-highlight {
    outline: 2px solid #1bbd9b;
}

.ntl-m-1 {
    margin: 1.1rem 0 !important;
}

.ntl-row-hide {
    display: none !important;
}

.ntl-filter-hide {
    display: none !important;
}

.col-filter-hide {
    display: none !important;
}

.col-filter-show {
    display: block !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.toolbar-save {
    line-height: 1.3 !important;
}

.add-column {
    line-height: 1.3 !important;;
}

/*.add-column{*/
/*    float: left;*/
/*    margin-top: 0.6rem;*/
/*}*/
.s-filter {
    background-color: #1cbe9a;
}

.save-filter {
    padding: 1.1rem;
}

.reset-filter {
    padding: 1.1rem;
}

.all-filter {
    padding: 1.1rem;
}

.h-filter:hover {
    background-color: #67c7b2;
}

.h-filter {
    padding: .7rem 4.8rem;
}

.filter-html {
    margin: 1.76rem 0;
    display: none;
    max-width: 100%;
    width: auto;
    border: #1cbe9a 1px solid;
    padding: 2px 36px;
    border-radius: 10px;
    float: left;
}

.filter-checkbox {
    margin: 0;
    padding: 6px;
    font-size: 15px;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
}

.ntl-btn {
    font-size: 12px;
    line-height: 0.5;
    border-radius: 3px;
    width: 63px;
    margin: 5px;
}

.ntl-btn-success {
    background: #1cbe9a;
    color: #fff;
    border-color: #1cbe9a;
}

.ntl-btn-danger {
    background: #f26a60 !important;
    border-color: #f26a5f !important;
    color: #fff;
}

.ntl-p-b {
    padding: 0 4.1rem;
}

.ntl-mt {
    margin-top: 1.3rem;
}

.extra-close, .filter-close {
    padding: 1.2rem;
    margin: 5px;
}

.show-alert {
    background-color: #fff;
}

.alert-success {
    border-color: #1cbe9a !important;
}

.alert-success p {
    color: #1cbe9a !important;
}

.alert-danger p {
    color: #ff6a5f !important;
}

.close:focus, .close:hover {
    color: #1cbe9f;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .9;
    margin: .5px;
    padding: 1px .3rem;
}


.ntl-filter-btn {
    text-shadow: none;
    width: 73px;
    line-height: 1.4;
    border-radius: 3px;
    font-size: 12px;
    margin: 5px;
}

.ntl-selector {
    width: 700px !important;
}

.filter-submit {
    padding: 20px;
}

.select2-selection__choice {
    background-color: #1cbe9a !important;
    border: #22947b !important;
    border-right: #2d594f !important;
    color: #fff;
}

.select2-selection__choice button > span {
    color: #23423b !important;
}

.select2-selection__choice .select2-selection__choice__display {
    border-right: #2d594f !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #1cbe9a !important;

}

.select2-container--default .select2-results__option--selected {
    background-color: #1cbe9a !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #1cbe9a 1px !important;
}

.btn-danger:hover {
    color: #fff;
    background-color: #f9302c;
    border-color: #ac2925;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
    margin: 5px;
    padding: 1px .3rem;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #1cbe9a !important;
    opacity: .92;
}

.alert p {
    color: #fff;
}

.dataTables_wrapper .dataTables_filter input {
    background-color: #fefefe !important;
    line-height: 1.6;
    margin-top: 0;
}

.jconfirm .jconfirm-box.jconfirm-type-green {
    border-top: solid 7px #1cbe9a;
    animation-name: none;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-red {
    background-color: #1cbe9a !important;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-red:hover {
    background-color: #1cbeaf !important;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-default {
    background-color: #1cbe9a !important;
    color: #fff!important;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-default:hover {
    background-color: #1cbeaf !important;
    color: #fff!important;}

.jconfirm .jconfirm-box div.jconfirm-title-c {
    font-size: 18px;
}
.beta-badge{
    margin: 9px 0px 0px 16px;
    float: left;
    background: #f26a60;
}